*.js
*.js.map
*~
!pixi.min.js
.gitignore.swp
UserScript.ts
.swp
/Test
/build

#Visual studio
*.csproj
*.config
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
.vscode/
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
